/* --- Frosted PS5 Controller Skin for Gamepad Viewer --- */

/* Basic page cleanup */
body {
  background: transparent !important;
}

/* Make sure we hit whatever controller GPV is rendering */
.controller {
  position: relative;
  width: 900px;
  height: 600px;
  margin: 0 auto;
  background: url("https://raw.githubusercontent.com/Metzicle/gamepad-skin/main/frosted_controller.png")
              no-repeat center center;
  background-size: contain;
}

/* Buttons – start simple so we at least see them in roughly correct places */

/* D-Pad */
#button-up    { position: absolute; left: 255px; top: 210px; }
#button-down  { position: absolute; left: 255px; top: 300px; }
#button-left  { position: absolute; left: 215px; top: 255px; }
#button-right { position: absolute; left: 295px; top: 255px; }

/* Face buttons (Square / Triangle / Circle / Cross) */
#button-square   { position: absolute; left: 585px; top: 245px; }
#button-triangle { position: absolute; left: 625px; top: 205px; }
#button-circle   { position: absolute; left: 665px; top: 245px; }
#button-cross    { position: absolute; left: 625px; top: 295px; }

/* Sticks */
#button-l3 { position: absolute; left: 340px; top: 335px; }
#button-r3 { position: absolute; left: 515px; top: 335px; }

/* Share / Options */
#button-share   { position: absolute; left: 320px; top: 180px; }
#button-options { position: absolute; left: 540px; top: 180px; }

/* PS button */
#button-ps { position: absolute; left: 430px; top: 280px; }

/* Bumpers */
#button-l1 { position: absolute; left: 260px; top: 90px; }
#button-r1 { position: absolute; left: 600px; top: 90px; }

/* Triggers (attached, not floating) */
#button-l2 { position: absolute; left: 280px; top: 40px; }
#button-r2 { position: absolute; left: 580px; top: 40px; }

/* Touchpad area – mainly for clicks */
#touchpad {
  position: absolute;
  left: 300px;
  top: 125px;
  width: 300px;
  height: 120px;
}

/* Simple frost-glow: dim normally, brighten on press */
button,
#touchpad {
  opacity: 0.4;
  transition: opacity 0.12s ease-out, transform 0.08s ease-out;
}

button.pressed,
#touchpad.pressed {
  opacity: 1;
  transform: scale(1.05);
}
